---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">A cerca de</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			Sitio no oficial para la recopilación y centralización del material complementario de estudio de la 
			Guía de Estudio Bíblico Dominical de la iglesia del sector #3 en Valle de Chalco Estado de México.
		</p>
		<p>Visitanos en:</p>
		<p>
			Calle Norte 11, Mza 1065, entre Oriente 12 y Oriente 13, Colonia San Isidro, Valle de Chalco, 
			Estado de México.
		</p>
		<p>o en:</p>
		<p>
			Agustín Melgar Mz.9 Lt.1 esquina con Andrés Quintana Roo de la colonia Darío Martínez Segunda Sección Valle de Chalco Edo. Méx.
		</p>
	</div>

</PageLayout>
